
body{
    font-family: 'Quicksand',sans-serif;
    margin: 0;
    padding: 0;
    background-color: #232323;
}

header{
    display: flex;
    justify-content: center;
}

header h1{
    font-size: 24px;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 84%;
    background-color: #000077;
    color: whitesmoke;
    border-radius: 8px;
    padding: 4px;
    margin: 8px;
    font-weight: bold;
}

.header p{
    margin-left: 16px;
}

section{
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: center;
    width: 80%;
    padding: 28px;
    background-color: #000077;
    border-radius: 8px;
}

article{
    width:300px;
    height: 380px;
    margin: 12px;
    background-color: #878787;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
}

article h2{
    font-size: 20px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container .descuentos {
    color: #000033;
}

.container .descuentos label {
    margin-top: 4px;
    font-weight: bold;   
}

.container .descuentos input,
.container .descuentos select {
    margin: 4px 0 8px 0;
    border: none;
    padding: 4px;
    font-size: 16px;
    border-radius: 4px;
    text-align: center;
    color: #500050;
    background-color: wheat;
}

.container .descuentos button{
    border: none;
    margin: 8px;
    height: 32px;
    border-radius: 8px;
    background-color: #005000;
    color: wheat;    
}

button:hover{
    font-weight: bold;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.mostrador{
    border-radius: 8px;
    border-top: 2px dotted #000033;
    border-bottom: 2px dotted #000033;
    padding: 16px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
}